/*
Typography
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
* {
  font-family: 'Roboto', sans-serif;
}
#material .display2 {
  font-size: 45px;
  line-height: 48px;
  font-weight: 400;
}
#material .display1 {
  font-size: 34px;
  line-height: 40px;
  font-weight: 400;
}
#material .headline {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}
#material .title {
  font-size: 21px;
  line-height: 32px;
  font-weight: 500;
}
#material .subheading {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
#material .body-bold {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}
#material .body {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
#material .shadow1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#material .shadow2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#material .shadow3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#material .shadow4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#material .shadow5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
/*
Base design
*/
body {
  background-color: #F2F1EF;
}
.container {
  width: 900px;
  background-color: #FFFFFF;
  margin: 30px auto 50px auto;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.container:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
h1 {
  font-size: 34px;
  line-height: 40px;
  font-weight: 400;
}
h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}
h3 {
  font-size: 21px;
  line-height: 32px;
  font-weight: 500;
}
h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 0.4em;
}
h5 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  margin-top: 0.8em;
  margin-bottom: 0;
}
a {
  color: #1976D2;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
i {
  font-weight: 500;
}
/*
chips
*/
span.chip,
span.chip-yellow,
span.chip-indigo,
span.chip-green,
span.chip-blue,
span.chip-purple {
  background-color: #757575;
  color: white;
  margin-left: 0.2em;
  margin-right: 0.2em;
  padding: 0.2em 0.7em;
  font-size: 11px;
  font-weight: 500;
  border-radius: 999px;
  text-transform: uppercase;
}
span.chip-yellow {
  background-color: #FFEB3B;
  color: black;
}
span.chip-indigo {
  background-color: #5C6BC0;
}
span.chip-green {
  background-color: #0097A7;
}
span.chip-blue {
  background-color: #0288D1;
}
span.chip-purple {
  background-color: #AB47BC;
}
/*
header
*/
.header {
  background-color: #3F51B5;
  color: white;
  padding-left: 2em;
  padding-right: 2em;
  overflow: hidden;
}
.header small {
  font-size: 65%;
  color: rgba(255, 255, 255, 0.8);
}
/*
Content
*/
.content {
  position: relative;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  overflow: auto;
}
.content p.notify {
  position: absolute;
  right: 2em;
}
.content hr {
  margin-top: 1.5em;
  margin-left: -2em;
  margin-right: -2em;
  border: 0;
  height: 1px;
  background: #E0E0E0;
}
.content > ul > li {
  margin: 0 0 1.4em;
}
.content > ul ul {
  padding-left: 1em;
  list-style: none;
}
.content > ul ul ul {
  padding-left: 2em;
  list-style: square;
}
.content > ul ul ul li {
  margin: 0;
}
.content small {
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.55);
}
