body {
    background-color: #F2F1EF;
    padding-top: 20px;
}

.container {
    width: 900px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #e73134;
    border-top: 6px solid;
    border-top-color: #2c3e50;
    color: white;
    padding: 10px;
}

.header h1 {
    margin: 0 0 10px 5px;
}

.header small {
    font-size: 65%;
    color: #ecf0f1;
}

.content {
    padding: 0 16px 16px;
}